# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Database
db.sqlite3

# Byte-compiled / logs
*.log

# Editor directories
.vscode/
.idea/
venv/
__pycache__/
*.pyc
db.sqlite3
.env
.DS_Store
staticfiles/
